@model IEnumerable<PersonalStoreApplication.Models.Product>

@{
    ViewData["Title"] = "Edit Products";
}
<p><a asp-controller="Admin" asp-action="Index">Back to Administrator Selection</a></p>
<h1>Products List</h1>

<p>
    <button class="btn btn-secondary" data-toggle="modal" data-target="#createProduct">Create New</button>
</p>

<table id="productTable" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Img)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr id="@item.Id">
            <td id="Id">
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td id="Img">
                @Html.DisplayFor(modelItem => item.Img)
            </td>
            <td id="Name">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td id="Price">
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td id="Description">
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                <button onclick="editProduct(@item.Id)" class="btn btn-secondary">Edit</button> |
                <button onclick="deleteProduct(@item.Id)" class="btn btn-secondary">Delete</button>
            </td>
        </tr>
}
    </tbody>
</table>

<div class="modal" id="createProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Create New Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="createNewProductForm">
                    <!-- Form Fields for a Product -->
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Image: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Img" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Product Name: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Price: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Price" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Description: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Description" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Tags: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Tags" class="form-control" />
                        </div>
                    </div>
                </form>
                <p><!-- form messages here --></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="createNewProduct()">Create</button>
            </div>
        </div>
    </div>
</div>

<div class="modal" id="editProduct" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit Product</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="editProductForm">
                    <!-- Form Fields for a Product -->
                    <div class="form-group row">
                        <label class="control-label col-sm-2">ID: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Id" class="form-control" readonly/>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Image: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Img" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Product Name: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Price: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Price" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-3">Description: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Description" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-sm-2">Tags: </label>
                        <div class="col-sm-8">
                            <input type="text" name="Tags" class="form-control" />
                        </div>
                    </div>
                </form>
                <p><!-- form messages here --></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="updateProduct()">Update</button>
            </div>
        </div>
    </div>
</div>

<script>

    //This function attempts to query a product deletion from the controller.
    function deleteProduct(productId) {
        if(confirm("Are you sure you would like to delete this product?")) {
            $.getJSON(
            'DeleteProduct',
            {
                productId: productId
            },
            function(data) {
                console.log(data);
                if(data){
                    //dynamically remove product from table on a successful removal from the system.
                    $("#" + productId).remove();
                    alert("The product as been removed from the store!");
                } else {
                    alert("There was a problem removing the product from the store.");
                }
            });
        }
    }

    //This function serializes the creation form information and sends it to the controller as a to be created product.
    function createNewProduct() {
        let formFields = $("#createNewProductForm").serialize();
        let result = false;
        console.log(formFields);

        $.getJSON(
            'ProcessNewProduct',
            formFields,
            function(data) {
                console.log(data);
                if(data >= 0){
                    alert("The product was added successfully!");

                    //add new product to the html table on successful creation.
                    addProductToTable(data);
                } else {
                    alert("There was a problem adding the product.");
                }
            }
        );

        $("#createProduct").modal("hide");
    }

    //This function takes a product id and adds it to the html table.
    function addProductToTable(productId) {

        //query the product info from the controller.
        $.getJSON(
            'GetProductDetails',
            {
                productId : productId
            },
            function(data) {
                console.log(data);

                //grab the table and create a new row
                let table = document.getElementById("productTable");
                let row = table.insertRow(-1);
                row.setAttribute("id", data.id);

                //insert information into each of the cells 
                insertCellData(row, "Id", data.id);
                insertCellData(row, "Img", data.img);
                insertCellData(row, "Name", data.name);
                insertCellData(row, "Price", data.price.toFixed(2));
                insertCellData(row, "Description", data.description);
                insertCellData(row, "Buttons", "<button onclick='editProduct(" + data.id + ")' class='btn btn-secondary'>Edit</button> |" +
                              "<button onclick='deleteProduct(" + data.id + ")' class='btn btn-secondary'>Delete</button>");
            }
        );
    }

    //This function takes in a cells information and adds it to the given row.
    function insertCellData(row, id, data) {
        let cell = row.insertCell(-1);
        cell.setAttribute("id", id);
        cell.innerHTML = data;
    }

    //This function populates the edit product form with the chosen product id.
    function editProduct(productId) {
        let editForm = $("#editProductForm");

        $.getJSON(
            'GetProductDetails',
            {
                productId : productId
            },
            function(data) {
                console.log(data);

                //populate the form with the found information.
                editForm.find('input[name="Id"]').val(data.id);
                editForm.find('input[name="Img"]').val(data.img);
                editForm.find('input[name="Name"]').val(data.name);
                editForm.find('input[name="Price"]').val(data.price.toFixed(2));
                editForm.find('input[name="Description"]').val(data.description);
                editForm.find('input[name="Tags"]').val(data.tags);

                $("#editProduct").modal("show");
            }
        );
    }

    //This function updates a products information with the new data from the form. 
    function updateProduct() {
        let formFields = $("#editProductForm").serialize();
        let result = false;
        console.log(formFields);

        $.getJSON(
            'UpdateProduct',
            formFields,
            function(data) {
                if(data){
                    alert("The product was successfully updated!");

                    //update the product information on the html table.
                    updateProductOnTable($('#editProductForm').find('input[name="Id"]').val());
                } else {
                    alert("There was a problem updating the product.");
                }
            }
        );

        $("#editProduct").modal("hide");
    }

    //This function updates a products information on the html table.
    function updateProductOnTable(productId) {
        let tableRow = $('#productTable').find('#' + productId);

        $.getJSON(
            'GetProductDetails',
            {
                productId : productId
            },
            function(data) {
                console.log(data);

                //update each of the cells
                tableRow.find('#Img').text(data.img);
                tableRow.find('#Name').text(data.name);
                tableRow.find('#Price').text(data.price);
                tableRow.find('#Description').text(data.description);
            }
        );
    }

</script>
